/* custom.scss */

/* import the necessary Bootstrap files */
//S@import "../../node_modules/bootstrap/scss/functions";
@import "../vendor/bootstrap/css/bootstrap.css";

/* -------begin customization-------- */

/* simply assign the value */
$body-bg: #eeeeee;
//$primary: #a9dd27;
$primary: $indigo-600;
$secondary: $indigo-400;
$progress-bar-bg: $primary;
$dark: #000000;
$light-text: #4b4b4b;
$light: #ffffff;

//$primary: $red-500;

/* or, use an existing variable */
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
);
